h1 {
	padding-top: 30px;
	padding-left: 50px;
}

form {
	padding-top: 20px;
	padding-left: 50px;
}

button {
	margin-top: 30px;
	margin-left: 50px;
}

p {
	margin-left: 50px;
	font-size: 200%;
}

a {
	margin-left: 50px;
	font-size: 200%;
}

#resultsDiv {
	margin-right: 50px;
}

#resultsHeading {
	padding-left: 50px;

}

#mainHeading {
	font-size: 500%;

}

#formEntryHeading {
}

#logo {
	float: right;
	margin-right: 50px;
}

#mapDiv {
	padding-left: 50px;
	padding-top: 20px;
}

body {
	background: rgb(4,17,151);
	color: rgb(237,198,47);
}

/* for the map */
.compass .back {
	fill: #eee;
	fill-opacity: .8;
}		
.compass .fore {
	stroke: #999;
	stroke-width: 1.5px;
}
.compass rect.back.fore {
	fill: #999;
	fill-opacity: .3;
	stroke: #eee;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}
.compass .direction {
	fill: none;
}
.compass .chevron {
	fill: none;
	stroke: #999;
	stroke-width: 5px;
}
.compass .zoom .chevron {
	stroke-width: 4px;
}
.compass .active .chevron, .compass .chevron.active {
	stroke: #fff;
}
.compass.active .active .direction {
	fill: #999;
}